@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
  .all-\[unset\]{
    all:unset
  }
}


:root{
  --regular-font-family:'Manrope',Helvetica;
  --regular-font-size:14px;
  --regular-font-style:normal;
  --regular-font-weight:400;
  --regular-letter-spacing:0px;
  --regular-line-height:150%;
  --darker-gray:rgba(252,252,254,1);
  --big-font-family:'Plus Jakarta Sans',Helvetica;
  --big-font-size:16px;
  --big-font-style:normal;
  --big-font-weight:400;
  --big-letter-spacing:-0.32px;
  --big-line-height:140%;
  --h3-semib-font-family:'Plus Jakarta Sans',Helvetica;
  --h3-semib-font-size:24px;
  --h3-semib-font-style:normal;
  --h3-semib-font-weight:600;
  --h3-semib-letter-spacing:0px;
  --h3-semib-line-height:120.00000762939453%;
  --h5-semib-font-family:'Plus Jakarta Sans',Helvetica;
  --h5-semib-font-size:18px;
  --h5-semib-font-style:normal;
  --h5-semib-font-weight:600;
  --h5-semib-letter-spacing:0px;
  --h5-semib-line-height:120%;
  --h6-semib-font-family:'Plus Jakarta Sans',Helvetica;
  --h6-semib-font-size:16px;
  --h6-semib-font-style:normal;
  --h6-semib-font-weight:600;
  --h6-semib-letter-spacing:0px;
  --h6-semib-line-height:140%;
  --font-family:'Plus Jakarta Sans',Helvetica;
  --font-size:14px;
  --font-style:normal;
  --font-weight:400;
  --letter-spacing:-0.2800000000000001px;
  --line-height:150%;
  --semibold-fon-family:"Plus Jakarta Sans",Helvetica;
  --semibold-font-size:14px;
  --semibold-font-style:normal;
  --semibold-font-weight:600;
  --semibold-letter-spacing:-0.14000000000000004px;
  --semibold-line-height:140%;
  --dark-blue-gray:rgba(42,53,71,1);
  --light-gray:rgba(214,220,230,1);
  --lighter-gray:rgba(234,239,244,1);
  --medium-new-gray:rgba(90,106,133,1);
  --medium-blue-gray:rgba(124,143,172,1);
  --gray-white:rgba(252,252,254,1);
  --primary:rgba(93,135,255,1);
  --primary-v2:rgba(69,112,234,1);
  --lighest-blue:rgba(245,249,253,1);
  --lightest-blue-3:rgba(238,243,252,1);
  --lightest-gray:rgba(243,244,248,1);
  --main-text:rgba(7,14,17,1);


}

:root{
  --animate-spin:spin 1s linear infinite;
 
}
.animate-fade-in{
  animation:fade-in 1s var(--animation-delay,0s)ease forwards;
}
.animate-marquee{
   animation:marquee var(--duration) infinite linear;
}
.animate-marquee-vertical{
  animation:marquee-vertical var(--duration) infinite linear;
}
.animate-shimmer{
  animation:shimmer 8s infinite;
}
.animate-spin{ 
  animation:var(--animate-spin)
}


@keyframes  spin{
  to{
    transform:rotate(1turn);
  }
}

@keyframes image-glow{
  0%{
    opacity:0;
    animation-timing-function:cubic-bezier(0.74,0.25,0.76,1);
  }
  10%{
    opacity:0.7;
    animation-timing-function:cubic-bezier(0.12,0.01,0.08,0.99)
  }
  to{
    opacity:0.4
  }
}

@keyframes fade-in{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  to{
    opacity:1;
    transform:none;
  }
}

@keyframes fade-up{
  0%{
    opacity:0;
    transform:translateY(20px);
  }
  to{
    opacity:1;
    transform:none;
  }
}

@keyframes shimmer{
  0%,
  90%,
  to{
    background-position:calc(-100% - var(--shimmer-width)) 0;

  }
  30%,
  60%{
    background-position:calc(100% + var(--shimmer-width)) 0;

  }
}

@keyframes marquee{
  0%{
    transform:translate(0);
  }
  to{
    transform:translateX(calc(-100% - var(--gap)))
  }
}

@keyframes marquee-vertical{
  0%{
   transform:translateY(0);
  }
  to{
    transform:translateY(calc(-100% - var(--gap)))
  }
}


@layer base{
  :root{
    --background:0 0% 100%;
    --foreground:222.2 47.4% 11.2%;

    --muted:210 40% 96.1%;
    --muted-foreground:215.4 16.3% 46.9%;

    --popover:0 0% 100%;
    --popover-foreground:222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

      --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

  }




.dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }

}

@layer components{
  .border-border{
    border:1px solid black;
    }
  }

  @layer base{
    html{
      scroll-behavior:smooth;
    }
    body{
      @apply bg-background text-foreground;
      font-feature-settings: 'rlig' 1,'calt' 1;
    }
  }
    

/* Scrollbar'ı gizler */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE ve Edge */
  scrollbar-width: none;  /* Firefox */
}
