@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .all-\[unset\]{
    all:unset
  }
}

:root{
  --regular-font-family:'Manrope',Helvetica;
  --regular-font-size:14px;
  --regular-font-style:normal;
  --regular-font-weight:400;
  --regular-letter-spacing:0px;
  --regular-line-height:150%;
  --darker-gray:rgba(252,252,254,1);
  --big-font-family:'Plus Jakarta Sans',Helvetica;
  --big-font-size:16px;
  --big-font-style:normal;
  --big-font-weight:400;
  --big-letter-spacing:-0.32px;
  --big-line-height:140%;
  --h3-semib-font-family:'Plus Jakarta Sans',Helvetica;
  --h3-semib-font-size:24px;
  --h3-semib-font-style:normal;
  --h3-semib-font-weight:600;
  --h3-semib-letter-spacing:0px;
  --h3-semib-line-height:120.00000762939453%;

}
